	<!-- <div class="flex flex-wrap gap-1 w-full justify-center p-4">
	<button mat-stroked-button color="primary" (click)="cargarDatosNuevos('7002812989')">7002812989 alumno externo</button>
</div> -->
	<!-- {{ this._mainSharedService.datosModuloSignal() | json }} -->
	<!-- [ngClass]="menuShow ? 'pl-[88px] md:pl-24 md:pr-4' : 'pl-2 md:px-4'" -->
	<div class="flex flex-col gap-4 min-w-[300px] max-w-screen-2xl w-full m-auto p-2 transition-all duration-300 ease-in-out">
		<router-outlet></router-outlet>
		<div class="flex flex-col">
			<!-- <h2 class="text-xl text-[#233559] font-semibold">Dashboard</h2> -->
			<span class="text-base">¡Bienvenido de nuevo!</span>
			<!-- <span class="text-xl text-[#233559] font-semibold">¡Bienvenido de nuevo!</span> -->
		</div>
		<div class="grid grid-cols-12 gap-4">
			<!-- <button mat-button class="col-span-12" color="primary" (click)="valor = !valor">toogle</button> -->
			<!-- [@fade]="valor ? '*' : 'void'" -->
			<section class="card col-span-12 md:col-span-5 lg:col-span-4 justify-start items-center gap-4">
				<span class="text-base text-textPrimary font-bold w-full">Datos Básicos</span>
				<app-datos-basicos class="w-full"></app-datos-basicos>
			</section>
		</div>
	</div>
